DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,api
PAYMENT_SERVICE_TOKEN=6c9ef01517....
DATABASE_URL=postgres://ticketflow:....

VITE_API_BASE_URL=http://127.0.0.1:8000/api

PORT=5001
STRIPE_SECRET_KEY=sk_test_51Rx6OdKpWqY....
STRIPE_PUBLISHABLE_KEY=pk_test_51Rx6OdKpWqYWer4iJd4....
STRIPE_WEBHOOK_SECRET=whsec_6cca11ab375c9...
DJANGO_API=http://api:8000/api/v1
DJANGO_API_TOKEN=6c9ef01517cee2a129ec...
PAYMENTS_HEALTH_URL=http://payment:5001/

REDIS_URL=redis://redis:6379/1