DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres:....
PAYMENT_SERVICE_TOKEN=6c9ef01517cee2a12
CORS_ALLOWED_ORIGINS=http://localhost:5173
PAYMENTS_HEALTH_URL=http://payment:5001/
REDIS_URL=redis://redis:6379/1